<section class="container">
    <div class="row">
        <div class="col-12 col-md-8">
            <div class="heading-text">
                Short description text also on three lines lorem ipsum dolor sit amet, consectetur adipisici
                elit,
                sed eiusmod tempor incidunt ut labore et dolore magna aliqua.
            </div>
        </div>
    </div>
</section>


<section class="container section-slider">
    <div class="row">
        <div class="col-12">
            <div class="slider">
                
                <div *ngIf="services" class="owl-carousel owl-easytv">

                    <div class="icard" *ngFor="let service of services">
                        <div class="icard__header">
                            <img src="assets/img/person.png" alt="{{service.author}}" />
                            <div class="icard__role">Author</div>
                            <div class="icard__name">{{service.author || 'Author not available'}}</div>

                        </div>
                        <div class="icard__body">
                            <div class="icard__date">{{(service.last_update | date: 'dd MMMM yyyy') || 'Date not available'}}</div>
                            <div class="icard__title"><a [href]="service.frontend_uri" target="_blank">{{service.name}}</a></div>
                            <div class="icard__abstract">
                                {{service.description}}
                            </div>

                        </div>
                        <div class="icard__footer">
                            <a href="catalogue-item.html" class="button button--big"> <img src="assets/img/icon-eye.svg"
                                    aria-hidden="true" alt="Details" Size />
                                DETAILS</a>
                        </div>
                    </div>





                </div> <!-- Owl Carousel -->
            </div>
            
            <!-- <div class="">
                <a class="view-more-services" href="#">View more services <img src="assets/img/icon-cirle-arr.svg"
                        alt="View more services" /></a>
            </div> -->

        </div>
    </div>
</section>